{#<a href="https://www.makergear.com/pages/support">MakerGear Support</a>#}

<a id="support_link" class="pull-right" title="MakerGear Support" href="#" data-bind="click: function() { $root.showSupport() }">
    <i class="icon-question-sign"></i> <span data-bind="text: $root.supportState()"></span>
</a>

<div id="mgsetup_support_widget" class="modal hide fade" style="overflow-y:auto; max-height: calc(100vh - 210px); ">
<div class="modal-body">
<div id="registration" data-bind="visible: $root.registered() === false">
<div class="modal-header">
<center><h3>Registration</h3></center>
</div>
<div data-bind="visible: !loginState.isUser">
	<br>
	<br>
	<center>
	<h3>You must be logged in to register.</h3>
	<br>
	<button class="btnstay" data-bind="click: function() { $root.showSupport('hide') }">{{ _('Close') }}</button><br>

	</center>
</div>


<div data-bind="visible: loginState.isUser"
<br>
<center><h4>Please Register your M3 printer:</h4></center>
<br>
<div class="control-group">
<div align="right">
<form class="form-horizontal">
Serial Number:
<input type="text" class="form-control" data-bind="textInput: $root.serialNumber" /><br><br>
First Name:
<input type="text" class="form-control" data-bind="textInput: $root.firstName" /><br><br>
Last Name:
<input type="text" class="form-control" data-bind="textInput: $root.lastName" /><br><br>
Date Received (mm/dd/yyyy):
<input type="text" class="form-control" data-bind="textInput: $root.dateReceived" /><br><br>
Email:
<input type="text" class="form-control" data-bind="textInput: $root.emailAddress" /><br><br>
Where did you buy your MakerGear M3?
<select data-bind="options: $root.channelOptions, value: $root.channel"></select>
<br><div data-bind="visible: $root.channel()=='Other - Please Specify Below'"><br>
Please Specify: 
<input type="text" class="form-control" data-bind="textInput: $root.channelOtherInput, visible: $root.channel()=='Other - Please Specify Below'"/>
<br></div><br>

How did you hear about MakerGear?
<select data-bind="options: $root.referrerOptions, value: $root.referrer"></select>
<br><div data-bind="visible: $root.referrer()=='Other - Please Describe Below'"><br>
Please Describe: 
<input type="text" class="form-control" data-bind="textInput: $root.referrerOtherInput, visible: $root.referrer()=='Other - Please Describe Below'"/>
<br></div><br>

Who is the primary user of this 3D Printer?
<select data-bind="options: $root.segmentOptions, value: $root.segment"></select>
<br><div data-bind="visible: $root.segment()=='Other - Please Describe Below'"><br>
Please Describe: 
<input type="text" class="form-control" data-bind="textInput: $root.segmentOtherInput, visible: $root.segment()=='Other - Please Describe Below'"/>
<br></div><br>

<input type="checkbox" data-bind="checked: $root.newsletter" /> Would you like to receive our newsletter?<br><br>
</form>
<center><button class="btngoBig" data-bind="click: function() { $root.submitRegistration() }, enable: $root.serialNumber().length == 8 && $root.firstName() != '' &&  $root.lastName() != '' && $root.dateReceived() != '' && $root.emailAddress() != '' && $root.channel() != '-' && $root.referrer() != '-' && $root.segment() != '-'">{{ _('Submit Registration') }}</button></center><br><br>
</div>
</div>
</div>

<div id="activation" data-bind="visible: $root.activated() === false && $root.registered() === true">
<div class="modal-header">
<center><h3>Activation</h3></center></div>
<form class="horizontal">
<br><br><center><h4>
Please enter the Activation Key that you received in your email:</h4></center><br><br>
<div align="right">Activation Key: <input type="text" class="form-control" data-bind="textInput: $root.userActivation" /><br><br></div></form>
<center><button class="btngoBig" data-bind="click: function() { $root.checkActivation($root.userActivation()) }, enable: $root.userActivation() != undefined">{{ _('Activate') }}</button></center>

</div>


<br><br><br>
<button class="btnstay" data-bind="click: function() { $root.showSupport('remind') }">{{ _('Remind Me Later') }}</button><br>
</div>

</div>
</div>
